#main
  width 980px
#ad-special
  display none !important
#article
  width 1000px
  padding 0px
  font-family 'Roboto', arial, helvetica,sans-serif
  background transparent !important
  .date
  .image
    display none
  > h1
    font-size 38px !important
    font-weight 300
    margin-top 10px !important
    line-height 1.8em
    margin-bottom 40px !important
    color white
    text-shadow 0px 0px 10px #0
    position absolute
    margin-left 450px !important
    text-align left
  p.perex
    position absolute
    top 360px
    padding-left 450px
    width (950px - 450px)
    font-weight 100
    text-align left
    line-height 2.2em
    font-size 20px
    color white
    text-shadow 0px 0px 10px #0
    margin 0px
  > p
  > ul > li
    line-height 1.9em
    font-size 16px
  > h2
  > h3
  > p
  > ul
    width 550px
    float right
    margin-right 0px
  > ul
    margin 0px 0px 15px 0px
    list-style square
    > li
      padding-left 17px
      // margin-left 26px !important
      margin-bottom 5px !important
  h2
    font-size 28px
    font-weight 900
    margin-top 1.5em
  p + img
    position relative
    left -30px
  p + h2
    margin-top 2em
  p[data-unhide]
    font-size 14px
    color #666
    width 510px
    position relative
    &:before
      content "▶"
      line-height 18px
      text-align center
      font-size 15px
      position absolute
      transform rotate(90deg)
      top 3px
      left -34px
      height 19px
      color white
      padding-left 1px
      width (@height - @padding-left)
      background #b
      border-radius 50%
      transition background 0.3s
    &:hover
      cursor pointer
      &:before
        background #6

    &.unhidden
      display none
  p[data-hidden]
    display none
    opacity 0
    transition opacity 0.8s
    &.unhidden
      display block
      color #8
      border-left 2px solid #e
      padding-left 12px
  .relatedWebs
    margin-top 50px !important
  p iframe
    max-width none
    border-top 1px solid #c
    border-bottom 1px solid #c
    padding-top 20px
    margin 20px 0px
    position relative
    left -450px
  h2:last-of-type
    font-size 12px
    color #5
    font-weight 700
    position relative
    margin-top 60px
    &:before
      content " "
      position absolute
      top -30px
      left -450px
      width 1000px
      border-top 1px solid #c
    & + p
      color #5
      font-size 12px
      margin-bottom 70px

.author
  margin-top 60px !important
#wrapper-inner
  background transparent !important
  padding 0px !important
.filling
  width 100%
  height 600px
div.hero
  font-family 'Roboto', arial, helvetica,sans-serif
  position absolute
  top 126px
  bottom 0px
  width 100%
  min-width 1000px
  background #6 url('https://samizdat.cz/data/spotreba-leku-snowfall/www/img/4.jpg') no-repeat center top
  background-size cover
  .overlay
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
    background linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 25%);
    position absolute
  span.copy
    color white
    position absolute
    bottom 10px
    right 10px
    z-index 2
    text-shadow 0px 0px 10px #0
    font-weight 200
    a
      color white
      text-decoration underline
      &:hover
        text-decoration none
  a.scroll-btn
    z-index 2
    position absolute
    top 650px
    left 50%
    margin-left (250px + -107px)
    text-transform uppercase
    color white
    font-weight 200
    font-size 18px
    text-shadow 0px 0px 10px #0
    text-decoration none
    padding-bottom 2px
    border-bottom 1px solid white
    &:hover
    &:active
      border-bottom none
    &:hover:before
        background rgba(255,255,255,0.2)
    &:before
      background rgba(255,255,255,0.05)
      transition background 0.2s
      content "›"
      position absolute
      top -80px
      left 50%
      transform translate(-50%, 0) rotate(90deg)
      text-align center
      line-height 52px
      font-size 50px
      width 60px
      height 60px
      border 1px solid white
      font-weight 300
      box-shadow 0px 0px 5px #ffa
      border-radius 50%
  @media screen and (max-height: 820px)
    a.scroll-btn
      top 600px
      text-shadow none
      color transparent
      &:before
        color white
  @media screen and (max-height: 738px)
    a.scroll-btn
      display none
body.web-zpravy.theme-trestnecinypolitiku
body.web-zpravy.theme-domaci
body.web-zpravy.theme-regiony
body.web-zpravy.theme-evropskaunie
body.web-zpravy.theme-data
body.web-zpravy.theme-sochi2014
body.web-zpravy.theme-sochi2014_data
body.web-zpravy.theme-volby2012_eurodotace
body.web-zpravy.theme-ep2014
body.web-zpravy.theme-ep2014_vizitky
body.web-zpravy.theme-ep2014_vysledky
body.web-zpravy.theme-ep2014_rozhovory
body.web-zpravy.theme-krym2014
  background url('https://samizdat.cz/tools/cro-parts/dekretenizer-bg.png') top repeat-x !important
.web-zpravy
  background white url('https://samizdat.cz/tools/cro-parts/bg.png')  repeat-x !important
  #nav-sub
    background-image none
    ul.sub
      display none
