.graph-tip
  display none
  position absolute
  z-index 2
  // max-width 260px
  // padding-bottom 14px
  &.active
    display block
  .content
    padding 10px 15px
    border 1px solid #4
    background rgba(255,255,255,0.9)
    border-radius 2px
    white-space nowrap
  .arrow
    position absolute
    left -10px
    top 50%
    triangle(10px,18px,'left',#4)
    transform translate(0,-50%)

    &:before
      content ""
      position absolute
      left 1px
      top -9px
      triangle(10px,18px,'left',#fff)
