&.one-bar-chart
  position relative
  margin-right 50px
  float right
  .content
    position absolute
    top 0px
    right 0px
    width 400px
    height 250px
    h3
      margin 5px 0px 0px 0px
      font-weight 700
      color #3
      font-size 16px
    .bar-area
      position absolute
      top 0px
      right 0px
      height 100%
      width 40px
      .items
        position absolute
        top 0px
        left 0px
        bottom 0px
        width 100%
      .item
        width 100%
        border-left 1px solid MainBlue
        border-right 1px solid MainBlue
        &:first-child
          border-top 1px solid MainBlue
          border-top-right-radius 15px
          border-top-left-radius 15px
        &:last-child
          border-bottom 1px solid MainBlue
          border-bottom-right-radius 15px
          border-bottom-left-radius 15px
        &:nth-child(1)
          background lighten(MainBlue, 98%)
          border-color lighten(MainBlue, 69%)
        &:nth-child(2)
          background ColorHeading
          border-color darken(ColorHeading, 40%)
        &:last-child
          background MainBlue
          border-color darken(MainBlue, 40%)
      .flare
        position absolute
        top 10px
        background white
        opacity 0.1
        left 15%
        width 19%
        border-radius 35%
        bottom 20px
      .dash-line
        position absolute
        height 30px
        right 48px
        width 6px
        border 1px dotted #b
        border-right 0px none
    .titles
      position absolute
      width calc(100% - 60px)
      top 0px
      height 100%
      right 70px
      text-align right
      .title
        position absolute
        width 100%
        transform translate(0,-50%)

  &.slozeni-reexport
    h3
      position relative
      top -40px
      left 32px
    .titles
      right 215px
    .bar-area
      right 145px
    .item:nth-child(2)
      background lighten(desaturate(MainBlue, 50%), 70%) !important
    .item:nth-child(3)
      background lighten(desaturate(MainBlue, 50%), 50%) !important
    .item:nth-child(1)
      background ColorHeading !important
      border-color darken(ColorHeading, 40%) !important
    .dash-line-right
      position absolute
      top 0px
      height 253px
      left 48px
      width 6px
      border 1px dotted #b
      border-left 0px none
    .title:nth-child(3)
      margin-top -5px
    .title:nth-child(4)
      margin-top 5px
    .title:nth-child(5)
      width auto
      left 440px
      top 50%
      text-align left
      white-space nowrap
  &.cenotvorba-marze
  &.cenotvorba-pojistovny
    float right
    clear both
    width 450px
    .titles
      right 480px
      width 390px
    .bar-area
      right 410px
    .content
      position relative
      height 340px
      h3
        margin 0px
        text-align left
      ul
        margin 8px 0px 0px 0px !important
        text-align left
        list-style-type square !important
        color #4
        li
          margin 0px 0px 0px 20px !important
  &.cenotvorba-marze
    margin-bottom 35px
    .dash-line:nth-child(1)
    .dash-line:nth-child(3)
      border-right 1px dotted #b
      border-left 0px none
      left 48px
    .title:nth-child(1)
    .title:nth-child(3)
      left 490px
  &.cenotvorba-pojistovny
    margin-top 20px
    margin-bottom 35px
    .dash-line
      border-right 1px dotted #b !important
      border-left 0px none !important
      left 48px
    .title
      left 490px
