&.small-line-chart
  position relative
  margin-right 50px
  float right
  .content
    position absolute
    top 0px
    right 0px
    width 400px
    height 300px
    h3
      margin 5px 0px 0px 0px
      font-weight 700
      color #3
      font-size 16px
    svg
      position absolute
      top 0px
      left 0px
      g.lines
        path
          fill none
          stroke-width 1.5
          stroke LightBlue
        path:nth-child(2)
          stroke lighten(MainBlue, 20%)
        path:nth-child(3)
          stroke MainBlue
      circle.marker
        fill rgba(255,255,255,0.2)
        stroke #6
        stroke-dasharray 4 2
      line.marker
        stroke #a
        shape-rendering crispEdges
        stroke-dasharray 4 2
      g.zeroline
        line
          stroke #d
          shape-rendering crispEdges
    div.marker
      position absolute
      transform translate(-50%, 0)
      text-align center
      font-variant small-caps
      padding-top 5px
      white-space nowrap
      small
        font-size 14px
        color #7
    .percentage-notes
      > div
        position absolute
        font-size 11px
        transform translate(0, -50%)
        &.right
          right 0px
        &:nth-child(1)
          color LightBlue
        &:nth-child(2)
          color lighten(MainBlue, 20%)
        &:nth-child(3)
          color MainBlue
    .years
      position absolute
      .year
        position absolute
        top 3px
        font-size 11px
        color #8
        &:first-child
          left 0px
        &:last-child
          right -3px
    ul.legend
      margin 10px 0px 0px 0px !important
      list-style-type none !important
      float left
      font-size 14px
      li
        margin 0px 0px 3px 0px !important
        position relative
        &:after
          content ""
          position absolute
          right -35px
          top 8px
          width 20px
          height 2px
      li:nth-child(1):after
        background LightBlue
      li:nth-child(2):after
        background lighten(MainBlue, 20%)
      li:nth-child(3):after
        background MainBlue
  &.spotreba-recent
  &.ceny-recent
    .years
      .year
        &:first-child
          transform translate(-50%, 0)
        &:last-child
          transform translate(50%, 0)
  &.regulacni-poplatky
    .content
      height 400px
    svg
      g.lines
        path:nth-child(1)
          stroke ColorHeading
    div.marker:nth-child(1)
      transform none
      text-align left
    div.marker:nth-child(2)
      transform translate(-100%, 0)
      text-align right
    div.marker:nth-child(3)
      transform translate(-70%, 0)
      text-align right
    .percentage-notes > div:nth-child(1)
      color ColorHeading
    .percentage-notes > div:nth-child(4)
      color LightBlue
    ul.legend li:nth-child(2):after
        background ColorHeading
  &.ceny-all
  &.spotreba-all
    margin 0px 0px 20px 0px
    width 1000px
    .content
      width 1000px
      position relative
    div.marker:nth-child(1)
      transform none
      text-align left
    div.marker:last-child
      transform translate(-100%, 0)
      text-align right
  &.reexport-actilyse
    svg
      g.lines
        path:nth-child(2)
          stroke ColorHeading
    div.marker:nth-child(1)
      transform none
      text-align left
    ul.legend li:nth-child(2):after
        background ColorHeading
    .percentage-notes > div
      text-align left
      width 30px
    .percentage-notes > div:nth-child(2)
      color ColorHeading
