&.vertical-bar-chart
  position relative
  margin-right 50px
  float right
  > .content
    position absolute
    top -31px
    right 0px
    width 400px
    h3
      margin 5px 0px 0px 0px
      font-weight 700
      color #3
      font-size 16px
      text-align right
    .lines
      margin-top 12px
      width 100%
      float right
      position absolute
      right 0px
      .line
        position absolute
        width 100%
        height 26px
        opacity 1
        left 0px
        transition opacity 0.8s, transform 0.8s, top 0.8s
        &.invalid
          opacity 0
          transform translate(-500px, 0px)
        &.entering
          opacity 0
        .bar
          position absolute
          right 0px
          background MainBlue
          border-top-left-radius 4px
          border-bottom-left-radius 4px
          height 21px
          transition width 0.8s
        .text
          color black
          position absolute
          padding-right 5px
          top 2px
          font-size 12px
          transition right 0.8s
        .amount
          color white
          position absolute
          top 2px
          font-size 12px
          padding-left 4px
          transition left 0.8s
        &.highlight .bar
          background ColorHeading
        &:hover
          cursor default
        &.help-available
          cursor help
    .supplement
      position absolute
      top 440px
      text-align right
      width 100%
      > div
        width 100%
        position absolute
      p
        font-size 12px !important
        color #6 !important
      a
        display block
        background lighten(MainBlue, 98%)
        float right
        color MainBlue !important
        padding 4px 10px
        border-radius 4px
        box-shadow 0px 0px 2px MainBlue
        &:hover
          background lighten(MainBlue, 95%)
          box-shadow 0px 0px 5px MainBlue
  &.marze
    .supplement > div.marzenabaleni
      display none
  &.marzenabaleni
    .supplement > div.marze
      display none
  &.prodeje-leky
    .supplement
      top 580px
  &.marze
    .supplement > div.baleni
      display none
  &.baleni
    .supplement > div.marze
      display none


